.my-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
    cursor: text;
}

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}
